<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crédito e Débito</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h2>Operações de Conta</h2>

    <div th:if="${message}">
        <p class="success" th:text="${message}">Operação realizada</p>
    </div>
    <div th:if="${error}">
        <p class="error" th:text="${error}">Ocorreu erro</p>
    </div>

    <form th:action="@{/user/credit}" th:object="${transactionDto}" method="post">
        <h3>Crédito</h3>
        <div>
            <label>Conta:</label>
            <input type="text" th:field="*{accountNumber}" />
        </div>
        <div>
            <label>Valor:</label>
            <input type="number" step="0.01" th:field="*{amount}" />
        </div>
        <button type="submit">Creditar</button>
    </form>

    <hr/>

    <form th:action="@{/user/debit}" th:object="${transactionDto}" method="post">
        <h3>Débito</h3>
        <div>
            <label>Conta:</label>
            <input type="text" th:field="*{accountNumber}" />
        </div>
        <div>
            <label>Valor:</label>
            <input type="number" step="0.01" th:field="*{amount}" />
        </div>
        <button type="submit">Debitar</button>
    </form>
    <br>
    <a th:href="@{/user/transfer}">Ir para Transferência</a>
</div>
</body>
</html>
