<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Consultar Saldo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>Consultar Saldo da Conta</h2>
    <div th:if="${error}">
        <p class="error" th:text="${error}">Conta não encontrada</p>
    </div>
    <div th:if="${balance}">
        <p>Saldo da conta <b th:text="${accountNumber}">ACCxxxx</b>:
            <b th:text="${balance}">0.00</b>
        </p>
    </div>
    <form th:action="@{/user/balance}" method="post">
        <div>
            <label>Número da Conta:</label>
            <input type="text" name="accountNumber" th:value="${accountNumber}" required />
        </div>
        <button type="submit">Consultar</button>
    </form>
    <br>
    <a th:href="@{/user/transactions}">Voltar às Operações</a>
</div>
</body>
</html>
